@font-face{
	font-family:"presto";
	font-weight:normal;font-style:normal}
	[data-icon]:before,.prestoicon-apple:before,.prestoicon-android:before,.prestoicon-txweibo:before,.prestoicon-wechat:before,.prestoicon-douban:before,.prestoicon-qq:before,.prestoicon-weibo:before,.prestoicon-qzone:before,.prestoicon-windows8:before{font-family:"presto";
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
	.prestoicon-apple:before{content:"\e600"}
	.prestoicon-android:before{content:"\e601"}
	.prestoicon-txweibo:before{content:"\e602"}
	.prestoicon-wechat:before{content:"\e603"}
	.prestoicon-douban:before{content:"\e604"}
	.prestoicon-qq:before{content:"\e605"}
	.prestoicon-weibo:before{content:"\e606"}
	.prestoicon-qzone:before{content:"\e607"}
	.prestoicon-windows8:before{content:"\e608"}
	[data-icon]:before{content:attr(data-icon)}
	html{background:#fff}
	.bs-header{display:none}
	.container{max-width:none;padding:0;margin:0 auto}
	.bs-docs-container,.footer{margin:0 auto;overflow:hidden}
	#top .share{padding:18px;text-indent:0;font-size:14px;color:#b3b7b1;background:#030303}
	#top .share .share-btns{display:inline-block;*display:inline;vertical-align:middle;margin-left:8px}
	#top .share a{display:inline-block;width:30px;height:32px;margin-right:7px;
		background:url(../../images/myimages/share.png) 0 0 no-repeat;
		background-size:180px auto}
		#top .share a:hover{background-position:0 -32px}
		#top .share .rec1{background-position:-30px 0}
		#top .share .rec1:hover{background-position:-30px -32px}
		#top .share .rec2{background-position:-60px 0}
		#top .share .rec2:hover{background-position:-60px -32px}
		#top .share .rec3{background-position:-90px 0}
		#top .share .rec3:hover{background-position:-90px -32px}
		#top .share .rec4{background-position:-120px 0}
		#top .share .rec4:hover{background-position:-120px -32px}
		#top .share .rec5{background-position:-150px 0}
		#top .share .rec5:hover{background-position:-150px -32px}
		#top .content{position:relative;margin:50px 1em 20px}
		#top .logo{margin-bottom:20px}
		#top .logo img{width:100%}
		#top .logo h1,#top .logo p{display:none}
			#top .download .app-store{background-position:center left}
			#top .download .winphone{background-position:bottom left}
			#top .download input{border:0;cursor:pointer;z-index:1000}
			#intro{margin:0 1em 2em}
			#intro h2,#intro p{text-indent:-9999px;display:none}
			#selection{padding:1em;background:url(/f/presto/0cd5975f0ca5a5503fe64efadcca333dd7ef06b4/images/app/background.png)}
			#selection h2 b{display:none}
			#selection ul{overflow:hidden}
			#selection li{padding:1em 0;border-top:1px solid #d9d9d9}
			#selection h3{font-size:18px;font-weight:800}
			#selection h3 a:link,#selection h3 a:visited,#selection h3 a:hover,#selection h3 a:focus,#selection h3 a:active{color:#738381;background:0}
			#selection .meta{margin-top:6px;font-size:13px;color:#bbc0bf}
			#selection .abstract{font-size:14px;color:#738381;
				word-wrap:break-word;overflow:hidden;max-height:63px;
				text-overflow:ellipsis;text-overflow:-o-ellipsis-lastline;
				display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}
			.footer{padding:0 1em;text-align:center;background:#545651}
			.footer p{margin:0;padding:1em 0;color:#b0adad;font-size:14px;font-weight:300}