{template "content","header"}
{pc:content action="lists" catid="$catid" order="listorder ASC" num="1" moreinfo="1"}
{loop $data $v}
<div class="coreDiv">
      <div class="ad">
         <a href="" target="_blank"><img src="{$v[thumb]}" height="371" width="950"></a>
       </div>
      <div class="clear1"></div>
            
        <div class="site">
            <h2>{$v[title]}</h2>
      <div class="zhi">
        <span><a href="{siteurl=($siteid)}">首页</a></span>
            <span> &nbsp;&gt;&nbsp;<a href="{$v[url]}">{catpos($catid)}</a></span>
      </div>                </div>
          <div class="clear1"></div>
        </div>

        {/loop}
{/pc}
{template "content","footer"}