{template "content","header"}
{pc:content action="content" catid="$catid" order="listorder ASC" num="1" moreinfo="1"}
<div class="coreDiv">
      <div class="aboutus_ad">
        <div class="aboutus_png">
          <ul id="contain">
            <li><a rel="#kscc" href="javascript:void(0);">{$text1}</a></li>
            <li><a rel="#gsjj" href="javascript:void(0);">{$text8}</a></li>
            <li><a rel="#zxzx" href="javascript:void(0);">{$text12}</a></li>
            <li><a rel="#ppry" href="javascript:void(0);">{$text14}</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="aboutus_content">
        <div class="aboutus_title" id="kscc">{$text1}<span>{$text}</span></div>
        <div class="clear1"></div>
        <div class="aboutus_info">
         <div class="aboutus_info_1">
             <div class="aboutus_info_1_l">
               <em><img src="{$img2}"></em>
               <em style="display: none;"><img src="/images/pic2a.jpg"></em>
              <em style="display: none;"><img src="/images/pic3a.jpg"></em>
              <em style="display: none;"><img src="/images/pic4a.jpg"></em>
              <em style="display: none;"><img src="/images/pic5a.jpg"></em>
              <em style="display: none;"><img src="/images/pic6a.jpg"></em>
            </div>
          </div> 
          <div class="clear"></div>
            <div class="aboutus_info_2">
              <ul>
                <li class="show"><a href="{$url}">{$text4}</a></li>
                <li><a href="{$url}">{$text2}</a></li>
                <li><a href="{$url}">{$text3}</a></li>
                <li><a href="{$url}">{$text5}</a></li>
                <li><a href="{$url}">{$text6}</a></li>
                <li><a href="{$url}">{$text7}</a></li>
              </ul>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear1"></div>
          <div class="aboutus_title" id="zxzx">{$text8}<span>{$text9}</span></div>
          <div class="clear1"></div>
          <div class="honor_box">
            <div style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; height: 310px;" class="honor_in" id="box1">
              <ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; height: 62px; top: 0px;">
                <li style="overflow: hidden; float: none; width: 628px; height: 30.0833px;">
                  <span>{$text10}</span>
                    <a href="{$CATEGORYS[86][url]}" target="_blank" title="{$text11}">{$text11}</a></li> 
                <li style="overflow: hidden; float: none; width: 628px; height: 30.0833px;">
                  <span>{$text10}</span><a href="{$CATEGORYS[89][url]}" target="_blank" title="{$text14}">{$text14}</a></li> 
              </ul>
            </div>
            <div class="honor_menu">
              <a href="{$url}" id="prev1"><img src="{$img3}"></a><a href="{$url}" id="next1"><img src="{$img4}"></a>
            </div>
          </div>
         <div class="clear1"></div>
           <div class="aboutus_title" id="dsj">{$text12}<span>{$text13}</span></div>
           <div class="clear1"></div>
             <div class="honor_box">
            <div style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; height: 310px;" class="honor_in" id="box1">
              <ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; height: 62px; top: 0px;">
                <li style="overflow: hidden; float: none; width: 628px; height: 30.0833px;">
                  <span>{$text19}</span>
                    <a href="{$CATEGORYS[87][url]}" target="_blank" title="{$text11}">{$text8}</a></li> 
                <li style="overflow: hidden; float: none; width: 628px; height: 30.0833px;">
                  <span>{$text20}</span><a href="{$CATEGORYS[88][url]}" target="_blank" title="{$text8}">{$text21}</a></li> 
              </ul>
            </div>
            <div class="honor_menu">
              <a href="{$url}" id="prev1"><img src="{$img3}"></a><a href="{$url}" id="next1"><img src="{$img4}"></a>
            </div>
          </div>
          <div class="clear1"></div>
          <div class="aboutus_title" id="ppry">{$text14}<span>Honor</span></div>
          <div class="clear1"></div>
          <div class="honor_box">
            <div style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; height: 310px;" class="honor_in" id="box">
              <ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; height: 62px; top: 0px;">
                <li style="overflow: hidden; float: none; width: 628px; height: 30.0833px;">
                  <span>{$text16}</span>
                  <a href="{$CATEGORYS[86][url]}" target="_blank" title="{$text1}">{$text1}</a></li> 
                <li style="overflow: hidden; float: none; width: 628px; height: 30.0833px;">
                  <span>{$text17}</span>
                  <a href="{$CATEGORYS[88][url]}" target="_blank" title="">{$text18}</a>   
               </ul>
              </div>
              <div class="honor_menu">
                <a href="{$url}" id="prev"><img src="{$img3}"></a><a href="{$url}" id="next"><img src="{$img4}"></a>
              </div>
            </div>
            <div class="clear1"></div>
          </div>
        </div> 
{/pc}
{template "content","footer"}