{template "content","header"}
{pc:content action="content" catid="$catid" order="listorder ASC" num="1" moreinfo="1"}
<div class="coreDiv">
   <div style="text-align:center">
   <img src="{$vhumb}" align="absmiddle"><img src="{$img2}" align="absmiddle"><img src="{$img3}" align="absmiddle"><img src="{$img4}" align="absmiddle"><img src="{$img5}" align="absmiddle">
   <img src="{$img6}" align="absmiddle"><img src="{$img7}" align="absmiddle"><img src="{$img8}" align="absmiddle"><img src="{$img9}" align="absmiddle"><img src="{$img10}" align="absmiddle">
   <img src="{$img11}" align="absmiddle"><img src="{$img12}" align="absmiddle">
 </div>
  </div>
{/pc}
{template "content","footer"}