{template "content","header"}
{pc:content action="content" catid="$catid" order="listorder ASC" num="1" moreinfo="1"}
<div class="coreDiv">
     <div class="content">
      <div class="sites">
          {$text10}
          <span>{$text9}</span>
        </div>
        <div class="clear1"></div>
          <div class="videos_content">
            <div class="videos_left">
              <div class="youkus1">
              <p>
              <embed allowfullscreen="true" allowscriptaccess="always" quality="high" src="http://player.youku.com/player.php/sid/XNTc4NzM1MTc2/v.swf" type="application/x-shockwave-flash" height="400" align="middle" width="480">
              </p>
            </div>
            </div>              
            <div class="videos_right">
              <div class="right_qie_cen"></div>
                <div class="right_qie1">
                  <div class="btn_up"><a href="javascript:void(0);" id="prev2"></a></div>
                    <div style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; height: 270px;" class="qie_middle" id="box">
                      <ul style="margin: 0px; padding: 0px; position:relative;list-style-type: none; z-index:1; height: 1080px; top:0px;">
                        <li style="overflow: hidden; float: none; width: 236px; height: 80px;">
                          <a href="" title="{$text1}"> 
                            <img src="{$thumb}" height="69px" width="116px">
                          </a>
                           <p>
                             <span>{$text1}</span><br>
                             <a href="" title="{$text1}"> &gt;&gt; {$text8}</a>
                           </p>
                        </li>
                        <li style="overflow: hidden; float: none; width: 236px; height: 80px;">
                          <a href="" title="{$text1}"> <img src="{$img2}" height="69px" width="116px"></a>
                          <p>
                            <span>{$text}</span><br>
                            <a href="" title="{$text}"> &gt;&gt; {$text8}</a>
                          </p>
                        </li>
                        <li style="overflow: hidden; float: none; width: 236px; height: 80px;">
                           <a href="" title="{$text4}"> 
                            <img src="{$img2}" height="69px" width="116px">
                           </a>
                           <p>
                            <span>{$text4}</span><br>
                            <a href="" title="{$text4}"> &gt;&gt; {$text8}</a>
                           </p>                                                            
                        </li>
                        <li style="overflow: hidden; float: none; width: 236px; height: 80px;">
                          <a href="" title="{$text2}"> 
                            <img src="{$img2}" height="69px" width="116px"></a>
                            <p>
                               <span>{$text2}</span><br>
                               <a href="" title="{$text2}"> &gt;&gt; {$text8}</a>
                            </p>
                        </li>
                        <li style="overflow: hidden; float: none; width: 236px; height: 80px;">
                          <a href="" title="{$text3}">
                           <img src="{$img2}" height="69px" width="116px">
                          </a>
                          <p>
                            <span>{$text3}</span><br>
                            <a href="" title="{$text3}"> &gt;&gt; {$text8}</a>
                          </p>
                        </li>
                        <li style="overflow: hidden; float: none; width: 236px; height: 80px;">
                          <a href="" title="{$text5}"> 
                            <img src="{$img2}" height="69px" width="116px"></a>
                            <p>
                              <span>{$text5}</span><br>
                              <a href="" title="{$text5}"> &gt;&gt; {$text8}</a>
                            </p>
                        </li>
                        <li style="overflow: hidden; float: none; width: 236px; height: 80px;">
                               <a href="" title="{$text6}"> <img src="{$img2}" height="69px" width="116px"></a>
                               <p><span>{$text6}</span><br><a href="" title="{$text6}"> &gt;&gt; {$text8}</a></p>
                        </li>
                        <li style="overflow: hidden; float: none; width: 236px; height: 80px;">
                           <a href="" title=" {$text7}"> 
                            <img src="{$img2}" height="69px" width="116px"></a>
                           <p><span> {$text7}</span><br>
                            <a href="" title=" {$text7}"> &gt;&gt; {$text8}</a>
                           </p>
                        </li>
                      </ul>
                    </div>
                    <div class="btn_down"><a href="javascript:void(0);" id="ntext2"></a></div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
{/pc}
{template "content","footer"}